.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.but {
  margin: 10px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 3px rgba(252, 250, 250, 0.2);
  color: #f0f0f0;
}

.maincard {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 0px 20px rgba(252, 250, 250, 0.2);
  border-radius: 5px;
  height: 300px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.but:hover {
  background-color: #312f2f00;
  color: rgb(175, 171, 171);
}

.image-size {
  height: 100px;
  width: 100px;
}

.heading {
  text-align: center;
}

.active {
  background-color: rgb(136, 138, 139);
  color: aliceblue;
}

.but.active:hover {
  background-color: rgb(113, 117, 118);
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: #f0f0f0;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  opacity: 0.8;
  border-radius: 50%;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
