.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.but {
  margin: 10px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.maincard {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: lightgreen;
  height: 300px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.but:hover {
  background-color: #f0f0f0;
  color: black;
}

.image-size {
  height: 100px;
  width: 100px;
}

.heading {
  text-align: center;
}

.active {
  background-color: lightblue;
  color: aliceblue;
}
